Hancock.xcworkspace/xcuserdata/caseykawamura.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
.DS_Store
*.xcuserstate
.DS_Store
*.xcuserstate
Hancock/.DS_Store
.DS_Store
.DS_Store
Hancock.xcodeproj/project.xcworkspace/xcuserdata/laurenmatthews.xcuserdatad/UserInterfaceState.xcuserstate
